<header class="home__header">
    <div class="home__header__img--logo">
        <img src="/images/logo.jpg" alt="logo-kitchening">
    </div>
    <a class="home__header__a--bars" href=""><i class="fa fa-bars"></i></a>
    <nav class="home__header__nav--menu">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/quienes">quienes</a></li>
            <li><a href="/servicios">servicios</a></li>
            <li><a href="/portfolio">portfolio</a></li>
            <li><a href="/users/register">registrate</a></li>
            <li><a href="/users/login">ingresá</a></li>
        </ul>
    </nav>
</header>